Django>=5.1,<6.0
django-cors-headers
djangorestframework
djangorestframework-simplejwt
djoser
drf-spectacular
social-auth-app-django

# Database & Storage
psycopg2-binary
dj-database-url
pgvector

# AI & Processing
google-genai
google-generativeai
pypdf
pillow
pydantic
python-dotenv

# Production Server & Static Files
gunicorn
whitenoise